:root{
    --pb-blue: #4281A4; 
    --pb-black: #444140;
    --pb-purple: #CA61C3;
    --pb-pink: #EE85B5;
    --pb-green: #a9f0d1;
    --pb-yellow: #F3C178;
    --pb-red: #7D1128;
    --pb-white: whitesmoke;
}
@font-face {
    font-family: EdwardianScript;
    src: url(Edwardian\ Script\ ITC.TTF);
}

html{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}
body{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--pb-white);
    margin: auto;
    color: var(--pb-pink);
    max-width: 90%;
}
header{
    text-align: left;
    background-color: var(--pb-pink);
    color: white;
    padding: rem;
    font-family: EdwardianScript;
}
header>h1{
    margin-left: 1rem;
    float: inline-start;
}
nav{
    float: inline-end;
    font-size: xx-large;
    padding: 1rem;
}
h2{
    color: var(--pb-purple);
    margin: auto;
    font-family: EdwardianScript;
    padding: 1rem;
    font-size: x-large;
}
table, form{
    margin: 1rem auto 1rem auto;
    border-collapse: collapse;
    max-width: 500px;
}
th{
    border: 3px solid;
}
td{
    border: 1px solid;
}
th, td{
    background-color: var(--pb-green);
}
.content{
    flex: 1 0 auto;
}
footer{
    flex-shrink: 0;
}
.blank{
    background-color: var(--pb-yellow);
}
.invalid{
    background-color: var(--pb-pink);
}
.valid{
    background-color: var(--pb-green);
}
.invBtn{
    width: 5rem;
    height: 2rem;
    margin: 1rem;
}

/* <form styles> */
label,
input, select {
  /* In order to define widths */
  display: inline-block;
}

label {
  width: 30%;
  /* Positions the label text beside the input */
  text-align: right;
}

label+input, label+select{
  width: 40%;
  /* margin-left to create a gutter between the label and input */
  margin: 0 0% 1% 4%;
}
/* </form styles> */